.container {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;
}

.name {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid transparent;
}

.editing {
}

.input {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px;
  border: 1px solid;
  width: 100%;
  max-width: 360px;
}

.admin {
}
