.container {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'films selected'; */
  display: flex;
  width: 100%;
}

.header {
  grid-area: header;
}

.films {
  overflow: auto;
  height: 100%;
}

.highlight {
}
